*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 之前插入 */
*::before{  
    box-sizing: border-box;
}
/* 之后插入 */
*::after{
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    /* 竖着排列 */
    flex-direction: column;
}
.code-wrapper{
    flex: 1;
    height: 50%;
padding: 10px;
}
.perview-wrapper{
    flex: 1;
    height: 50%;
}
#code{
    overflow: hidden;
    height:100%;
}





